.c-main {
  padding-top: 0px;
  // z-index: 1111;
}

@media (min-width: 768px) {
  .c-main > .container-fluid,
  .c-main > .container-sm,
  .c-main > .container-md,
  .c-main > .container-lg,
  .c-main > .container-xl,
  .c-main > .container-xxl {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.col-xxl,
.col-xxl-auto,
.col-xxl-12,
.col-xxl-11,
.col-xxl-10,
.col-xxl-9,
.col-xxl-8,
.col-xxl-7,
.col-xxl-6,
.col-xxl-5,
.col-xxl-4,
.col-xxl-3,
.col-xxl-2,
.col-xxl-1,
.col-xl,
.col-xl-auto,
.col-xl-12,
.col-xl-11,
.col-xl-10,
.col-xl-9,
.col-xl-8,
.col-xl-7,
.col-xl-6,
.col-xl-5,
.col-xl-4,
.col-xl-3,
.col-xl-2,
.col-xl-1,
.col-lg,
.col-lg-auto,
.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1,
.col-md,
.col-md-auto,
.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1,
.col-sm,
.col-sm-auto,
.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1,
.col,
.col-auto,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.c-sidebar {
  flex: 0 0 240px;
  width: 240px;
}
@media (min-width: 992px) and (min-width: 992px) {
  html:not([dir="rtl"])
    .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed
    ~ .c-wrapper,
  html:not([dir="rtl"])
    .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed
    ~ .c-wrapper {
    margin-left: 240px;
  }
}
.c-subheader {
  min-height: 20px;
}
// Header Start
// ===========================================================
.jss8759 {
  top: 0;
  left: 0;
  width: 100%;
  height: 164px;
  position: fixed;
  background-color: #673ab7;
  // z-index: -1;
}

.c-sidebar .c-sidebar-brand {
  color: #fff;
  background: rgb(103 58 183);
}
.c-header {
  background: #673ab7;
}

.c-header .c-header-nav .c-header-nav-link,
.c-header .c-header-nav .c-header-nav-btn {
  color: rgb(255 255 255);
}

.siteTitle {
  background: #673ab7;
  padding: 50px 10px 25px;
  text-align: center;
}

.c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon,
.c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
  // color: rgba(255, 255, 255, 0.5);
  color: #c2185b;
}

// .c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown-toggle {
//     color: rgb(60 75 100);
//     background: #fafafa;
// }

// .c-sidebar {
//     color: #fff;
//     background: #3c4b64;
//     background: #fafafa;
//     color: #101010;
// }

// Header End
// ===========================================================

// Sidebar Start
// ===========================================================

.c-sidebar .c-sidebar-nav-link.c-active,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
  color: #c2185b;
  background-color: #ede7f6;
}

.c-sidebar .c-sidebar-nav-link.c-active .c-sidebar-nav-icon,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
  color: #c2185b;
}
@media (hover: hover) {
  .c-sidebar .c-sidebar-nav-link:hover,
  .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    color: initial;
    // background: #321fdb;
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.c-sidebar .c-sidebar-nav-link,
.c-sidebar .c-sidebar-nav-dropdown-toggle {
  // color: rgba(255, 255, 255, 0.8);
  // background: transparent;
  color: initial;
}

@media (hover: hover) {
  .c-sidebar .c-sidebar-nav-link:hover .c-sidebar-nav-icon,
  .c-sidebar .c-sidebar-nav-dropdown-toggle:hover .c-sidebar-nav-icon {
    color: #c2185b;
  }
}
.c-sidebar {
  // color: #fff;
  // background: #3c4b64;
  background: #fafafa;
}

.c-sidebar .c-sidebar-nav-link {
  // color: rgba(255, 255, 255, 0.8);
  // background: transparent;
  background: #eeeeee;
}
.c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-link,
.c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-toggle {
  // color: #fff;
  color: initial;
}

.c-sidebar-nav.ps {
  box-shadow: 0px 0px 1px 0px #1010107d;
}
.c-sidebar-nav.ps:hover {
  box-shadow: 0px 0px 5px 0px #3a3a3a8c;
}
// Sidebar End
// ============================================================

// Gallery  Start

.gallery {
  img {
    width: 100%;
  }
}

.styles_gridItem__nPXhF figcaption {
  display: none !important;
}
.styles_wrapper__1kG3C {
  min-height: auto !important;
  padding: 0 !important;
  background: #ffffff00 !important;
}
.styles_gridItem__nPXhF figure > div > img {
  opacity: 0.9 !important;
}
.styles_grid__1mw-l {
  max-width: 100% !important;
}
.styles_gridItem__nPXhF {
  min-width: 25% !important;
  // max-width: 25% !important;
  max-width: 280px !important;
}

.styles_gridItem__nPXhF {
  img {
    width: 100%;
  }
  .__react_modal_image__medium_img {
    width: auto;
  }
}
.styles_grid__1mw-l {
  justify-content: left !important;
}
// Gallery  End



.breadcrumb-item {
  a {
    color: #fff;
  }
}
.c-subheader .c-subheader-nav .c-subheader-nav-link, .c-subheader .c-subheader-nav .c-subheader-nav-btn {
  color: rgb(255 255 255 / 50%);
}